body {
    background-color:grey; 
}

h1{
    font-family: segoe u1,Tahoma,Geneva,verdana,sans;
    color:black ;
    font-size: 50px;
}

a {
    color:
    font-size: 16px;
    font-weight: bold; 
    font-family: Arial,Arial, Helvetica, sans-serif;
}       
.bg-grey{
    background-color:
    overflow: auto: black
} 
>.container{
    margin:10px 

